.navbar .collapse .breadcrumb {
    margin: 0 7px;
}
@media (min-width: 768px) {
    .navbar .collapse .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}

.centered-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
