<!DOCTYPE html>
{% load render_table from django_tables2 %}
{% load dictGet from distributions_tags %}

<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Distributions - Class Util</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="icon" href="https://www.python.org/static/favicon.ico">
    {% include "./js.html" %}
    <!-- http://jsfiddle.net/zessx/r9yEU/6/ -->
</head>

<body style="background-color: #f2f2f2; height: 100vh;">
    <nav class="navbar navbar-inverse navbar-static-top" style="border-radius: 0; margin: 0; border-bottom-width: 0px;"><div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'distributions:index' %}">Class Util: Distributions</a>
        </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="breadcrumb list-inline" style="float: left; margin: 7px 10px;">
                {% for crumb in hierarchy %}
                    {% if crumb|dictGet:'link' %}
                        <li class="active"><a href="{{ crumb|dictGet:'link' }}">
                        {{ crumb|dictGet:'text' }}
                        </a></li>
                    {% else %}
                        <li>{{ crumb|dictGet:'text' }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% include "./search_bar.html" %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/PhilipConte/class_util">
                        Homepage
                    </a>
                </li>
            </ul>
        </div>
    </div></nav>
    <div style="padding: 10px; height: calc(100% - 50px)">
        {% if title %}
            <h2>{{ title|safe }}</h2>
            <hr>
        {% endif %}

        {% block content %}{% endblock %}

        {% if table %}
            <div class="panel panel-default">
                {% block  table_content %}{% endblock  %}
                <div class="panel-body">
                    {% render_table table %}
                </div>
            </div>
        {% endif %}
    </div>
</body>

</html>
