<!DOCTYPE html>
{% load render_table from django_tables2 %}
{% load search_bar from distributions_tags %}
{% load static %}

<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Distributions - Class Util</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>

<body>
    <nav class="navbar">
        <a href="{% url 'distributions:index' %}">class_util</a>
        {% search_bar %}
    </nav>
    {% if title %}
        <h2 class="text">{{ title|safe }}</h2>
    {% endif %}

    {% block content %}{% endblock %}

    {% if table %}
        {% block  table_content %}{% endblock  %}
        <div class="table-container">
            {% render_table table %}
        </div>
    {% endif %}
</body>

</html>
