<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Distributions - Class Util</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <div>
        <header>
            <h1>Class Util/<a href={% url "table" %}>Distributions</a>{% block header %} {% endblock %}</h1>
        </header>
        <div>
            <hr>
            <div>
                {% block content %} {% endblock %}
            </div>
            <hr>
        </div>
        <footer>
            <div>
                <p>Learn more on the
                    <a href="https://github.com/PhilipConte/class_util" target="_blank">project's site</a>
                </p>
            </div>
        </footer>
    </div>
</body>

</html>
