{% extends "base.html" %}

{% block courses_active %}
{% if 'Sections' in hierarchy %}{% else %}{{ block.super }}{% endif %}
{% endblock %}
{% block sections_active %}
{% if 'Sections' in hierarchy %}active{% endif %}
{% endblock %}

{% block table_content %}
{% if filter.data.multi and filter.qs.count != filter.queryset.count %}
<div class="panel-heading">
<h4>{{ filter.qs.count }} courses out of {{ filter.queryset.count }} matching <i>"{{ filter.data.multi }}"</i> | <a href='{{ request.path }}' >Clear</a></h4>
</div>
{% elif filter and filter.filters|length > 1 %}
<div class="panel-heading"><form method='GET'>
    {% csrf_token %}
    <div class=filter-grid>
        {{ filter.form.as_p }}
    </div>
    <p>
        <input class="btn btn-primary" type='submit' value='Filter' />
        Displaying {{ table.page.start_index }} - {{ table.page.end_index }} of {{ table.paginator.count }} |
        <a href='{{ request.path }}' >Clear</a>
    </p>
</form></div>
{% endif %}
{% endblock %}
