{% extends "base.html" %}
{% load distributions_tags %}
{% load static %}

{% block content %}
<div class="card mb-3"><div class="card-body">
    <div class="evenly-spaced-row">
        {% chart 'Grade Distribution' 'distributions-api:course_stats' course.slug %}
        {% chart  'Grade History' 'distributions-api:course_history' course.slug %}
    </div>
</div></div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
<script src="{% static 'js/chartLoader.js' %}"></script>
<script src="{% static "vendor/js/chartjs-plugin-doughnutlabel.min.js" %}"></script>
{% endblock %}

{% block table_content %}<div class="card-header">
<form method='GET' style="max-width: 35%"><div class="input-group">
    {% csrf_token %}
    {{ filter.form }}
    <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">Filter</button>
    </div>
</div></form>
</div>{% endblock %}
