{% extends "base.html" %}

{% block table_content %}
{% if filter.data.multi and filter.qs.count != filter.queryset.count %}
<h4>{{ filter.qs.count }} courses out of {{ filter.queryset.count }} matching <i>"{{ filter.data.multi }}"</i> | <a href='{{ request.path }}' >Clear</a></h4>
{% elif filter and filter.filters|length > 1 %}
<form method='GET'>
    <div class=filter-grid>
        {{ filter.form.as_p }}
    </div>
    <p>
        <input type='submit' value='Filter' />
        Displaying {{ table.page.start_index }} - {{ table.page.end_index }} of {{ table.paginator.count }} |
        <a href='{{ request.path }}' >Clear</a>
    </p>
</form>
{% endif %}
{% endblock %}
