{% extends "base.html" %}
{% load search_bar from distributions_tags %}

{% block content %}
<div class="centered-parent">
    <div class="card">
        <div class="card-body fg-text search-box">
            <h2>Search All Courses</h2>
            <div class="pb-2">{% search_bar %}</div>
            <div>
                <h4>looking for a different way to browse?</h3>
                <h5><a href={% url 'distributions:course_filtered_list' %}>Filter all courses</a></h5>
                <h5><a href={% url 'distributions:section_filtered_list' %}>Filter all sections</a></h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}
