{% extends "base.html" %}
{% load distributions_tags %}

{% block content %}
<div class="panel panel-default"><div class="panel-body">
    <div class="evenly-spaced-row">
        {% chart 'Grade Distribution' 'distributions-api:course_stats' course.slug %}
        {% chart  'Grade History' 'distributions-api:course_history' course.slug %}
    </div>
</div></div>
{% chart_loader %}
{% endblock %}

{% block table_content %}<div class="panel-heading" style="background-color: white">
<form method='GET' style="max-width: 35%"><div class="input-group">
    {{ filter.form }}
    {% form_button 'filter' %}
</div></form>
</div>{% endblock %}
