{% extends "base.html" %}
{% load distributions_tags %}
{% load static %}

{% block content %}
<div class="card mb-3"><div class="card-body">
    <div class="evenly-spaced-row">
        {% chart 'Overall Grade Distribution' 'distributions-api:course_stats' course.slug %}
        {% chart 'Grade Distribution for '|add:instructor 'distributions-api:course_instructor_stats' course.slug instructor %}
        {% chart 'Grade History for '|add:instructor 'distributions-api:course_instructor_history' course.slug instructor %}
    </div>
</div></div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
<script src="{% static 'js/chartLoader.js' %}"></script>
<script src="{% static "vendor/js/chartjs-plugin-doughnutlabel.min.js" %}"></script>
{% endblock %}
