{% extends "base.html" %}

{% block courses_active %}
{% if 'Sections' in hierarchy %}{% else %}{{ block.super }}{% endif %}
{% endblock %}
{% block sections_active %}
{% if 'Sections' in hierarchy %}active{% endif %}
{% endblock %}

{% block table_content %}<div class="panel-heading" style="background-color: white">
<form method='GET'>
    {{ filter.form }}
    <input class="btn btn-default" type='submit' value='Filter' />
    <br>
    <h4>Displaying {{ filter.qs.count }} of {{ filter.queryset.count }} items |
    <a href='{{ request.path }}' >Clear</a></h4>
</form>
</div>{% endblock %}
