{% load static %}
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
    src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
<script
    src="{% static "vendor/js/chartjs-plugin-doughnutlabel.min.js" %}"></script>
<script>
$(document).ready(function(){
    document.documentElement.setAttribute('theme', localStorage.getItem('theme'));
    $(".theme-switch").click(function() {
        let theme = $(this).text().toLowerCase();
        localStorage.setItem('theme', theme);
        document.documentElement.classList.add('color-theme-in-transition')
        document.documentElement.setAttribute('theme', theme)
        window.setTimeout(function() {
            document.documentElement.classList.remove('color-theme-in-transition')
        }, 1000)
    });
});
</script>
