:root {
    --background: #1c2023;
    --foreground: #c7ccd1;
    --color0: #1c2023;
    --color1: #c7ae95;
    --color2: #95c7ae;
    --color3: #aec795;
    --color4: #ae95c7;
    --color5: #c795ae;
    --color6: #95aec7;
    --color7: #c7ccd1;
    --color8: #747c84;
}

@media (prefers-color-scheme: light) {
     :root {
        --background: #ffffff;
        --foreground: #404040;
        --color0: #ffffff;
        --color1: #c41a15;
        --color2: #007400;
        --color3: #826b28;
        --color4: #0000ff;
        --color5: #a90d91;
        --color6: #318495;
        --color7: #404040;
        --color8: #808080;
    }
}

body {
    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 0.8em;
    border-bottom: 1px solid var(--color8);
}

.navbar a {
    color: inherit;
    text-decoration: none;
    font-size: x-large;
}

body>div {
    padding: 0 1em;
}

body>div a {
    color: var(--color6);
    text-decoration: none;
}

body>div a:visited {
    color: var(--color5);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.evenly-spaced-row {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
}

.evenly-spaced-row>div {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 0;
}

.chart-div {
    position: relative;
    margin: auto;
    height: 40vh;
    width: 95%;
}

.filter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    column-gap: 2em;
}

.search-box {
    text-align: center;
}

.search-bar {
    width: 25em;
}

select,
input,
textarea,
button {
    padding: 0.5em;
    border: 1px solid var(--color8);
    color: inherit;
    background: inherit;
    border-radius: 0.25em;
    box-sizing: border-box;
}

select,
input:not([type="submit"]),
textarea {
    width: 100%;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    white-space: nowrap;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid var(--color8);
    padding: 1em;
    text-align: left;
}

td {
    border-bottom: 1px solid var(--color8);
    padding: 0.5em;
}

.pagination li {
    display: inline;
}

.pagination .active a {
    background-color: var(--color5);
    border-color: var(--color5);
}

.pagination a {
    color: var(--foreground);
    float: left;
    padding: 0.5em 1em;
    border: 1px solid var(--color8);
}

.pagination li:hover:not(.active) a {
    background-color: var(--color8);
}

.pagination li:first-child a {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.pagination li:last-child a {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}
