html {
    --background-color: #f2f2f2;
    --background-text: black;

    --foreground-color: white;
    --foreground-text: black;
}

html[theme='dark'] {
    --background-color: #2b3137;
    --background-text: white;

    --foreground-color:black;
    --foreground-text: lightgrey;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

body {
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.bg-text {
    color: var(--background-text);
}

.fg-text {
    color: var(--foreground-text);
}

.panel-default,
.panel-default>.panel-heading {
    background-color: var(--foreground-color);
    color: var(--foreground-text);
}

.centered-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.evenly-spaced-row {
    display: flex;
    justify-content: space-evenly;
}

.bulk-input {
    width: fit-content;
}

#topNav {
    margin: 0;
    border-bottom-width: 0px;
}

#underNav {
    padding: 10px;
    height: -webkit-fill-available;
}

.navbar .collapse .breadcrumb {
    margin: 0 7px;
}

.chart-div {
    position: relative;
    margin: auto;
    height: 31vmin;
    width: 31vmin;
}

.filter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 2em;
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--foreground-text);
}

@media (min-width: 768px) {
    .navbar .collapse .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}
